# ENV FILES
.env
.env.*
*.env

venv
venv/
# LOGS
logs/
*.log

# JSON sensíveis
last_payload.json
send_message.json

# Pycache
__pycache__/
*.pyc

# Dados de teste sensíveis
test_*.json
last_payload.json
send_message.json

echo venv/ >> .gitignore
echo .venv/ >> .gitignore
